.pageContainer {
    max-width: 900px;
    margin: 40px auto;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.applicationsTable {
    width: 100%;
    border-collapse: collapse;
}

.applicationsTable th,
.applicationsTable td {
    padding: 8px;
    text-align: left;
}

.applicationsTable tbody tr {
    cursor: pointer;
}

.applicationsTable tbody tr:hover {
    background-color: rgb(240, 252, 255);
}