.page-container {
    max-width: 900px;
    margin: 40px auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.applications-table {
    width: 100%;
    border-collapse: collapse;
}

.applications-table th,
.applications-table td {
    padding: 8px;
    text-align: left;
}

.applications-table tbody tr {
    cursor: pointer;
}

.applications-table tbody tr:hover {
    background-color: rgb(240, 252, 255);
}