.contactContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 15px;

    user-select: none;
    cursor: pointer;
    color: gray;
    
    font-weight: bold;
    will-change: color;
    
    transition: 0.2s;
    position: relative;
}

.contactContainer:hover {
    color: black;

    background-color: rgb(240, 252, 255);    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
    z-index: 1;
}

.contactActions {
    display: flex;
    gap: 5px;
    font-weight: normal;
}

.contactGrid {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 8px 16px;
    margin: 16px 0;
}

.contactLabel {
    font-weight: 600;
    color: #555;
}

.contactNotes {
    white-space: pre-wrap;
    padding: 5px 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.contactNotes:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.48);
}

.contactInfo {
    color: #0969da;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.contactInfo:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.48);
}

.emptyInfo {
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.emptyInfo:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.48);
}