/* Button Styles */

.iconTextButton {
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;

    transition: 0.2s;
    cursor: pointer;
}

.iconTextButton:hover {
    background-color: lightgreen;
    scale: 1.1;
}

.iconButton {
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;

    transition: 0.2s, scale 0.1s;
}

.iconButton:hover {
    scale: 1.2;
}