.rootContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("/src/assets/loginBackground.jpg");
    background-color: transparent;
    background-size: cover;
}

.pageContainer {
    max-width: 33vw;
    width: 33vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

.pageContainer h1 {
    font-size: 3em;
    margin-top: 10vh;
    user-select: none;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 30vw;
    width: 30vw;
    align-items: center;
}


.registerForm input {
    padding: 8px;
    border: none;
    border-bottom: 2px rgb(170, 170, 170) solid;
    font-size: larger;

    width: 30vw;
}

.registerForm input:hover {
    border-bottom: 2px rgb(150, 150, 150) solid;
}

.registerForm input:active {
    background-color: rgb(246, 255, 255);
}

.registerForm input:focus {
    outline: none;
    border-bottom: 2px rgb(107, 107, 107) solid;
}

.registerForm button {
    background-color: white;
    border-radius: 28px;
    height: 40px;
    width: 25vw;
    font-size: large;
    font-weight: bold;
    border: hidden;
    box-shadow: 1px 1px 10px gray;
    will-change: scale, background-color;

    transition: 0.3s, scale 0.1s;
}

.registerForm button:hover {
    background-color: ivory;
}

.registerForm button:active {
    scale: 0.9;
}

.registerForm pre {
    align-self: flex-start;
    margin-left: 10px;
}

.loginLink {
    font-size: x-large;
}

.loginLink a {
    text-decoration: none;
    user-select: none;
    font-weight: bold;
    color: rgb(119, 119, 119);
    will-change: color;

    transition: 0.2s;
}

.loginLink a:visited {
    color: rgb(119, 119, 119);
}

.loginLink a:hover {
    color: rgb(85, 85, 85);
}

.loginLink a:active {
    color: rgb(48, 48, 48);
}