.pageContainer {
    max-width: 420;
    margin: 40px auto;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
}

.registerForm label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}